.application-block {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-top: 13px;
	width: 320px;
	height: 568px;
	background-image: url("../img/application_block_bg_mobile.png");

	&::before {
		position: absolute;
		content: "";
		top: 255px;
		left: 119px;
		width: 148px;
		height: 0;
		border: 2px solid #463489;
		transform: rotate(308.4deg);
		z-index: -1;
	}

	&::after {
		position: absolute;
		content: "";
		top: 253px;
		left: 2px;
		width: 90px;
		height: 0;
		border: 2px solid #463489;
		transform: rotate(310.4deg);
		z-index: -1;
	}
z-index: 1;
	margin-bottom: 100px;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
	.application-block {
		background-image: url("/img/application_block_bg_mobile@2x.png");
	}
}

.application-block__arrow {
	display: block;
	margin: 0 auto;
	margin-top: 97px;
}

.application-block__caption {
margin-top: 50px;
margin-left: 17px;
margin-bottom: 3px;
	width: 290px;
height: 24px;
color: #ffffff;
font-family: "Proxima Nova";
font-size: 34px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 2.1px;


}

.application-block__slogan {
margin-left: 19px;
width: 284px;
height: 11px;
color: #9b8ec1;
font-family: "Proxima Nova";
font-size: 15px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.9px;

//z-index: 2;
}