.buttons-block {
	display: flex;
	justify-content: space-between;
	margin: $center;
	margin-top: 110px;
	width: 292px;
	height: 39px;
}

.buttons-block--application-block {
	margin-top: 60px;
}

//========== @media  tablet =======================
@media (min-width: $middle) {
	.buttons-block {
width: 652px;

		


	}
}
