.captions__main-capture {
	position: relative;
	width: auto;
	height: 36px;
	color: #e7e7e7;
	margin-top: 15px;
	margin-left: 22px;
	margin-bottom: 313px;
	font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
	font-size: 50px;
	font-weight: 700;
	text-transform: uppercase;

	&::after {
		position: absolute;
		content: "";
		top: 89px;
		left: 50px;
		width: 16px;
		height: 3px;
		background-color: #9173e6;
		box-shadow: -20px -10px 0 #ded5f7;
	}
	&::before {
		position: absolute;
		content: "";
		top: 89px;
		left: 50px;
		width: 16px;
		height: 3px;
		background-color: #9173e6;
		box-shadow: -10px 20px 0 #ded5f7;
		transform: rotate(90deg);
	}
}

.captions__extra-capture {
	position: relative;

	//margin-left: 147px;
	width: 245px;
	height: 20px;
	color: #c1c1c1;
	font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.9px;

	&::after {
		position: absolute;
		content: "";
		top: 5px;
		left: -28px;

		width: 18px;
		height: 11px;
		color: #000000;
		font-family: "Proxima Nova Bold", Arial, Helvetica, sans-serif;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.7px;
	}

	&::before {
		position: absolute;
		content: "";
		top: 20px;
		left: -28px;

		width: 17px;
		height: 4px;
		border-radius: 2px;
		background-color: #5e42b0;
	}
}

.captions__extra-capture--connection {
	&::after {
		content: "01";
	}
}

//========== @media  tablet =======================
@media (min-width: $middle) {
	.captions__main-capture {
		position: relative;
		color: #e7e7e7;
		margin-top: 64px;
		margin-left: 297px;

		font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
		width: 377px;
		height: 63px;
		font-size: 90px;
		font-weight: 700;

		text-transform: uppercase;

		&::after {
			position: absolute;
			content: "";
			top: 5px;
			left: -247px;
			width: 16px;
			height: 3px;
			background-color: #9173e6;
			box-shadow: -20px -10px 0 #ded5f7;
		}
		&::before {
			position: absolute;
			content: "";
			top: 5px;
			left: -247px;
			width: 16px;
			height: 3px;
			background-color: #9173e6;
			box-shadow: -10px 20px 0 #ded5f7;
			transform: rotate(90deg);
		}
	}


.captions__extra-capture {
	position: relative;
	margin-top: 0;
	margin-left: 0;
	width: 245px;
	height: 20px;
	color: #c1c1c1;
	font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
	font-size: 34px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.9px;

	&::after {
		position: absolute;
		content: "";
		top: 5px;
		left: -28px;

		width: 18px;
		height: 11px;
		color: #000000;
		font-family: "Proxima Nova Bold", Arial, Helvetica, sans-serif;
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.7px;
	}

	&::before {
		position: absolute;
		content: "";
		top: 25px;
		left: -27px;

		width: 17px;
		height: 4px;
		border-radius: 2px;
		background-color: #5e42b0;
	}
}

.captions__extra-capture--connection {
	&::after {
		content: "01";
	}
}



}
