.players-block {
	position: relative;
	display: flex;
	flex-direction: column;

	&::before {
		position: absolute;
		top: 37px;
		right: 0;
		content: url('../img/players_tablet.webp');
	}

}

 @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .players-block {
			&::before {
				content: url("../img/players_tablet@2.webp");
			}
    }
  }

.players-block__connection {
	display: flex;
	flex-direction: column;
	height: 230px;
}

.players-block__collaboration {
	display: flex;
	flex-direction: column;
	height: 230px;
	background-color: #f5f4f9;
}

.players-block__growth {
	display: flex;
	flex-direction: column;
	height: 205px;
	background-color: #5e42b0;
}