.radio-input-wrapper {
	display: flex;
	padding: 0;
	justify-content: space-between;
	width: 44px;
	margin-top: 24px;
	margin-left: 21px;
}

.radio-input-wrapper--players {
	margin-top: 0;
}

.players-container,
.athletes-container {
	display: flex;
	position: relative;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.players-container input,
.athletes-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.players-checkmark,
.athletes-checkmark {
	position: absolute;
	top: 10px;
	left: -17px;
	height: 9px;
	width: 9px;
	background-color: #d8d8d8;
	border-radius: 50%;
	border: 1px solid #d8d8d8;
}

.players-container:hover input ~ .players-checkmark,
.athletes-container:hover input ~ .athletes-checkmark {
	background-color: #d8d8d8;
}

.players-container input:checked ~ .players-checkmark,
.athletes-container input:checked ~ .athletes-checkmark {
	background-color: #5c3caf;
}

.players-checkmark:after,
.athletes-checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.players-container input:checked ~ .players-checkmark:after,
.athletes-container input:checked ~ .athletes-checkmark:after {
	display: block;
}
