.athletes-slide,
.players-slide {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.athletes-slide__description,
.players-slide__description{
	margin: 0;
	margin-left: 15px;
	width: 300px;
	height: 86px;
	color: #000000;
	font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 600;
	line-height: 18px;
	letter-spacing: 0.75px;
}

.players-slide__description {
	width: 290px;
	height: 110px;

}